@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* > * {
    font-family: "Poppins", cursive;
    margin: 0;
}

:root{
    --color-dark: #2C3131;
    --color-light: #F3F3F2;
}

#main{
        display: flex;
        justify-content: center;
        align-items: top;
        height: 100vh;
        
}

.board{
    text-align: center;
    width: 100;
}

.board .leaderboard{
    margin-top: 20px;
    width: 100;
    height: 100;
    position: -webkit-sticky;
    
}

.active{
    background-color: var(--color-dark);
    color: var(--color-light);
}

#profile{
    /* display: flex; */

    height: 100px;
    scroll-margin-block-start: 1em;
   
}

#profile .flex{
    display: flex;
    justify-content: space-between;
    gap: 2em;
    text-align: left;
    margin-bottom: -2em;
    position: inherit;
}

#profile .flex .item{
    display: flex;
    align-items: center;
    position: inherit;

}


#profile .flex .info{
   padding: 3em;
   position: inherit;
}


#profile .index{
    padding-right: 3em;
    font-size: 1.5em;
}

#profile .flex img{
    object-fit: cover;
    width: 80px;
    height: 80px;
    border-radius: 50%;
}

#profile .name {
    font-size: 1.2em;
}

#profile .score {
    font-size: 1.5em;
}

.text-dark{
    color: var(--color-dark);
}

#profile.scroll-container {
    width: 350px;
    height: 200px;
    overflow-y: scroll;
    scroll-behavior: smooth;
    height: 100%;

}

#profile.scroll-page {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    font-size: 5em;
}